:root {
    --root--height: 1920px;
    --root--width: 1080px;
    --root--font--ratio: 1;
}

/* 버튼자체의 스타일에만 적용되는 css이므로 해당 버튼의 위치는 버튼이 존재하는 컴포넌트 css에서 다룰것 */
/* Header top 버튼 */

.button_mod_default {
    font-size: calc(32px*var(--root--font--ratio));
    font-weight: bold;
    color: #00FFD9;
    width: calc(var(--root--width)*0.1);
    height: 100%;
    border-left: 1px solid #00FFD9;

    /*색상 변경시 모두 같은색으로*/
    border-top: 1px solid #002520;
    border-bottom: 1px solid #002520;
    border-right: 1px solid #002520;
    background-color: #002520;
    cursor: pointer;
}

.button_mod_giant {
    font-size: calc(32px*var(--root--font--ratio));
    font-weight: bold;
    color: #00FFD9;
    width: calc(var(--root--width)*0.1);
    height: 100%;
    border-left: 1px solid #00FFD9;

    /*색상 변경시 모두 같은색으로*/
    border-top: 1px solid #002520;
    border-bottom: 1px solid #002520;
    border-right: 1px solid #002520;
    background-color: #002520;
    cursor: pointer;
}

.button_mod_multiplay {
    font-size: calc(32px*var(--root--font--ratio));
    font-weight: bold;
    color: #00FFD9;
    width: calc(var(--root--width)*0.1);
    height: 100%;
    border-left: 1px solid #00FFD9;
    border-right: 1px solid #00FFD9;

    /*색상 변경시 모두 같은색으로*/
    border-top: 1px solid #002520;
    border-bottom: 1px solid #002520;
    background-color: #002520;

    cursor: pointer;
}

.button_profile_logout {
    padding: 0;
    border: 0;
    width: calc(20px*var(--root--font--ratio));
    height: calc(20px*var(--root--font--ratio));
    cursor: pointer;
    background-color: rgb(0,0,0,0);
}

.button-logo {
    width: calc(20px*var(--root--font--ratio));
    height: calc(20px*var(--root--font--ratio));
}

/* Header bottom 버튼 */

.button_mod_custom {
    font-size: calc(30px*var(--root--font--ratio));
    color:white;
    font-weight: bolder;

    background-color: rgba(48,100,92,0);
    width: calc(var(--root--width)*0.07);
    height: 100%;

    border-left: 1px solid white;

    cursor: pointer;

    /* 색상 변경시 모두 변경 */
    border-top: 1px solid rgba(48,100,92,0);
    border-bottom: 1px solid rgba(48,100,92,0);
    border-right: 1px solid rgba(48,100,92,0);
}

.button_mod_recommend {
    font-size: calc(30px*var(--root--font--ratio));
    color:white;
    font-weight: bolder;

    background-color: rgba(48,100,92,0);
    width: calc(var(--root--width)*0.05);
    height: 100%;

    border-left: 1px solid white;

    cursor: pointer;

    /* 색상 변경시 모두 변경 */
    border-top: 1px solid rgba(48,100,92,0);
    border-bottom: 1px solid rgba(48,100,92,0);
    border-right: 1px solid rgba(48,100,92,0);
}

.button_mod_playlist {
    font-size: calc(30px*var(--root--font--ratio));
    color:white;
    font-weight: bolder;

    background-color: rgba(48,100,92,0);
    width: calc(var(--root--width)*0.1072916);
    height: 100%;

    border-left: 1px solid white;

    cursor: pointer;

    /* 색상 변경시 모두 변경 */
    border-top: 1px solid rgba(48,100,92,0);
    border-bottom: 1px solid rgba(48,100,92,0);
    border-right: 1px solid rgba(48,100,92,0);
}

.button_mod_ai_generate {
    font-size: calc(30px*var(--root--font--ratio));
    color:white;
    font-weight: bolder;

    background-color: rgba(48,100,92,0);
    width: calc(var(--root--width)*0.0984375);
    height: 100%;

    border-left: 1px solid white;
    border-right: 1px solid white;

    cursor: pointer;

    /* 색상 변경시 모두 변경 */
    border-top: 1px solid rgba(48,100,92,0);
    border-bottom: 1px solid rgba(48,100,92,0);
}

/* Search Bar */

.button_search {
    width: calc(var(--root--height)*0.034259259);
    height: calc(var(--root--height)*0.034259259);

    background-color: white;
    border: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;

    cursor: pointer;
}

/* Footer */

.button_page_left {
    width: calc(var(--root--height)*0.039814814);
    height: 100%;

    border: 1px solid #D9D9D9;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    font-weight: bold;
    font-size: calc(25px*var(--root--font--ratio));

    cursor: pointer;
}

.button_page_right {
    width: calc(var(--root--height)*0.039814814);
    height: 100%;

    border: 1px solid #D9D9D9;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    font-weight: bold;
    font-size: calc(25px*var(--root--font--ratio));

    cursor: pointer;
}

.button_page_move {
    width: calc(var(--root--height)*0.039814814);
    height: 70%;

    border-radius: 10px;

    font-size: calc(10px*var(--root--font--ratio));

    margin-left: calc(var(--root--width)*0.005);
}

.button_create_quiz {
    width: calc(var(--root--width)*0.10416666);
    height: calc(var(--root--height)*0.064814814);

    background-color: rgba(0,255,217,0.5);

    font-size: calc(25px*var(--root--font--ratio));
    font-weight: bold;
    color: white;

    border: 5px solid #00FFD9;
    border-radius: calc(var(--root--font--ratio)*20px);

    cursor: pointer;
}

/* Print_quiz */

.button_quiz_platform_all {
    width: calc(var(--root--width)*0.0364583333);
    height: calc(var(--root--width)*0.0364583333);

    font-size: calc(30px*var(--root--font--ratio));
    font-weight: bolder;
    font-style: italic;

    align-items: center;
    justify-content: center;

    border: 1px solid #D9D9D9;
    border-radius: 20px;

    cursor: pointer;
}

.button_quiz_platform_youtube {
    border: 1px solid #D9D9D9;
    background-color: #252525;
    border-radius: 20px;

    display: flex;

    width: calc(var(--root--width)*0.0364583333);
    height: calc(var(--root--width)*0.0364583333);

    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.button_quiz_platform_youtube .button-logo {
    width: 115%;
    height: 115%;

    border-radius: 20px;
    object-fit: cover;
}

/* Playlist */

.button_add_playlist {
    background-color: #8F8F8F;

    width: calc(var(--root--width)*0.0973958333333);
    height: 100%;

    border-radius: 20px;
    border: none;

    font-size: calc(36px*var(--root--font--ratio));
    font-weight: bolder;

    cursor: pointer;
}