.Profile_logout_floating {
    position: absolute;

    background-color: #8F8F8F;

    width: calc(var(--root--width)*0.1);
    height: calc(var(--root--height)*0.08);
}

.Profile_setting {
    width: 100%;
    height: 50%;
}

.Logout {
    width: 100%;
    height: 50%;
}