:root {
    --root--width: 1920px;
    --root--height: 1080px;
    --root--font--ratio: 1; /* 글자 크기 */
}

.PrintQuizList {
    display: grid;

    position: relative;

    width: calc(var(--root--width)*0.83);
    height: calc(var(--root--height)*0.6296296296);

    background-color: #D9D9D9;

    border-radius: 10px;

    margin-top: calc(var(--root--height)*0.0148148);
    margin-left: auto;
    margin-right: auto;

    align-items: center;
}

.quiz_centerbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    width: calc(var(--root--width)*0.784375);
    height: calc(var(--root--height)*0.57685185185);

    margin-left: auto;
    margin-right: auto;
}

.select_button {
    position: absolute;
    right: 100%;

    height: calc(var(--root--height)*0.6296296296);

    padding-top: calc(var(--root--height)*0.036111111);
}