.mode-selection {
  height: calc(782 / 1080 * var(--root--height));
  position: relative;
  left: calc(360 / 1920 * var(--root--width));
  width:calc(1200 / 1920 *var(--root--width));
  /* height: calc((668 + 114 - 360) / 1080 * var(--root--height)); */
  display: grid;
  grid-template-columns: calc(400 / 1920 * var(--root--width)) calc(400 / 1920 * var(--root--width));
  column-gap: calc(400 / 1920 * var(--root--width));
  /* margin-top: 181px; */
}

.mode-button {
  background-color: #30645C;
  border-radius: 20px;
  width: calc(400 / 1920 * var(--root--width));;
  height: calc(400 / 1080 * var(--root--height));;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  color: white;
  margin-top: 181px;
}

.mode-button-basic {
  grid-column: 1;
}

.mode-button-giant {
  grid-column: 2;
}

.mode-button h2 {
  font-size: 28px;
  margin-bottom: 10px;
  font-weight: bold;
}

.mode-button p {
  font-size: 16px;
  font-weight: 400;
}

.mode-button.selected {
  background-color: rgb(0,255,217,0.7);
}