/* 전체 화면 컨테이너 */
.card-list-container {
  min-height: calc(782 / 1080 * var(--root--height));
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 20px; */
  box-sizing: border-box;
}

.blur {
  filter: blur(8px);
}

/* 입력 섹션 */
.url-input-section {
  display: flex;
  position: relative;
  gap: 10px;
  background: #6BC5B4;
  border-radius: 20px;
  margin-top: calc(80 / 1080 * var(--root--height));
  width: calc(1296 / 1920 * var(--root--width));
  height: calc(81 / 1080 * var(--root--height));
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.5);
}

.url-input {
  margin-left: calc(15 / 1920 * var(--root--width));
  width: calc(1082 / 1920 * var(--root--width));
  height: calc(65 / 1080 * var(--root--height));
  position: relative;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: calc(24px * var(--root--font--ratio));
  background: #FFFFFF;
  border-radius: 20px;
  padding: 0px;
  border: 0;
  outline: none;
  align-items: center;
  text-align: center;
}

.url-input-button {
  width: calc(187 / 1920 * var(--root--width));
  height: calc(81 / 1080 * var(--root--height));
  background: #D9D9D9;
  border-radius: 20px;
  border: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: calc(36px * var(--root--font--ratio));
  line-height: calc(44 / 1080 * var(--root--height));
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.card-grid {
  margin-top: calc(80 / 1080 * var(--root--height));
  display: grid;
  grid-template-columns: repeat(4, calc(320 / 1920 * var(--root--width)));
  grid-template-rows: repeat(2, minmax(calc(200 / 1080 * var(--root--height)), auto));
  gap: 20px;
}

.card {
  background-color: #808080;
  border-radius: 20px;
  display: flex;
  height: calc(180 / 1080 * var(--root--height));
  width: calc(320 / 1920 * var(--root--width));
  flex-direction: column;
  align-items: center;
  position: relative;
}


.add-button {
  margin-top: calc(60 / 1080 * var(--root--height));
  font-family: 'inter';
  font-weight: 800;
  background-color: #D9D9D9;
  border-radius: 20px;
  font-size: calc(24px * var(--root--font--ratio));
  width: calc(600 / 1920 * var(--root--width));
  height: calc(100 / 1080 * var(--root--height));
}

.add-icon {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 4px solid #36F1FD;
  border-radius: 50%;
  width: min(calc(55 / 1080 * var(--root--height)), calc(55 / 1920 * var(--root--width)));
  height: min(calc(55 / 1080 * var(--root--height)), calc(55 / 1920 * var(--root--width)));
  line-height: min(calc(55 / 1080 * var(--root--height)), calc(55 / 1920 * var(--root--width)));
  font-size: calc(50px*var(--root--font--ratio));
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.card-icons {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.card-edit-btn,
.card-delete-btn {
  height: calc(44 / 1080 * var(--root--height));
  width: calc(44 / 1080 * var(--root--height));
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background: #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-play-btn {
  height: calc(44 / 1080 * var(--root--height));
  width: calc(44 / 1080 * var(--root--height));
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background: #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-icon-img {
  height: calc(33 / 1080 * var(--root--height));
  width: calc(33 / 1080 * var(--root--height));
}

.card-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: calc(24px * var(--root--font--ratio));
  display: flex;
  color: #FFFFFF;
  overflow: hidden;
  /* 텍스트가 넘칠 때 숨김 */
  white-space: nowrap;
  /* 텍스트를 한 줄로 유지 */
  text-overflow: ellipsis;
  /* 말줄임표로 표시 */
  position: relative;
  max-width: calc(330 / 1920 * var(--root--width));
  /* 상위 요소 너비에 맞춤 */
}

.card-title .scroll-text {
  display: inline-block;
  transform: translateX(0);
  /* 애니메이션 시작 위치를 왼쪽 끝으로 설정 */
  transition: transform 0.3s ease;
  /* 마우스 올릴 때 전환 효과 */
}

.card-title:hover .scroll-text {
  animation: scroll-text 5s linear infinite;
  /* 마우스 올렸을 때 애니메이션 */
}

@keyframes scroll-text {
  0% {
    transform: translateX(0);
    /* 시작 위치 */
  }

  100% {
    transform: translateX(-100%);
    /* 왼쪽으로 텍스트 이동 */
  }
}


.highlight-border {
  outline: 1px solid #00FFD9;
  /* box-shadow: 0 0 8px rgba(0, 247, 255, 0.295); */
  outline-offset: -1px;
  /* 테두리가 요소와 겹치도록 설정 */
}


/* separation overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  color: white;
  font-size: calc(24px * var(--root--font--ratio));
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  align-items: center;
  text-align: center;
}

/* 모달 오버레이 */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.quiz-seting-input {
  display: grid;
  grid-template-rows: calc(240 / 1080 * var(--root--height)), calc(272 / 1080 * var(--root--height));
}

.modal-content {
  background-color: #2d2d2d;
  border-radius: 10px;
  padding: 20px;
  height: calc(700 / 1080 * var(--root--height));
  width: calc(1200 / 1920 * var(--root--width));
  /* border: 10px, solid #8ed9c4; */
  display: flex;
  flex-direction: row;
  gap: 10px;
}

textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #00FFD9;
  background-color: #1e1e1e;
  color: white;
}


.complete-button {
  /* position: absolute; */
  margin-top: calc(60 / 1080 * var(--root--height));
  width: calc(600 / 1920 * var(--root--width));
  height: calc(100 / 1080 * var(--root--height));
  background: #D9D9D9;
  border-radius: 20px;
  font-family: 'inter';
  font-size: calc(24px * var(--root--font--ratio));
  font-weight: 800;
}

.navigation-buttons {
  position: fixed;
  bottom: calc(140 / 1080 * var(--root--height));
  left: calc(1650 / 1920 * var(--root--width));
  width: calc(300 / 1920 * var(--root--width));
  height: calc(70 / 1080 * var(--root--height));
  display: flex;
  flex-direction: row;
}

.nav-button {
  background-color: #00FFD9;
  /* Cyan button */
  color: #000;
  border: none;
  padding: 0;
  width: calc(150 / 1920 * var(--root--width));
  height: calc(70 / 1080 * var(--root--height));
  font-size: calc(24px*var(--root--font--ratio));
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  cursor: pointer;
  position: static;
  /* position: absolute; */
  z-index: 1;
}

.nav-button:hover {
  background-color: #00b3b3;
}

.nav-button:focus {
  outline: none;
}

.navigation-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: calc(120px * var(--root--font--ratio));
  color: #00FFD9;
  cursor: pointer;
}

.navigation-icon.left {
  position: fixed;
  width: calc(116 / 1920 * var(--root--width));
  height: calc(116 / 1080 * var(--root--height));
  left: calc(100 / 1920 * var(--root--width));
  top: calc(490 / 1080 * var(--root--height));
  line-height: calc(116 / 1080 * var(--root--height));
}

.navigation-icon.right {
  position: fixed;
  width: calc(116 / 1920 * var(--root--width));
  height: calc(116 / 1080 * var(--root--height));
  left: calc(1700 / 1920 * var(--root--width));
  top: calc(490 / 1080 * var(--root--height));
  line-height: calc(116 / 1080 * var(--root--height));
}

/* 툴팁 아이콘 스타일 */
.tooltip-icon {
  position: absolute;
  display: flex;
  right: calc(240 / 1920 * var(--root--width));
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: min(calc(44 / 1920 * var(--root--width)), calc(44 / 1080 * var(--root--height)));
  height: min(calc(44 / 1920 * var(--root--width)), calc(44 / 1080 * var(--root--height)));
  border-radius: 50%;
  background: #30645C;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: calc(32px * var(--root--font--ratio));
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  color: #FFFFFF;
}

/* 툴팁 텍스트 스타일 */
.tooltip-text {
  visibility: hidden;
  width: calc(600 / 1920 *var(--root--width));
  height: calc(100 / 1080 * var(--root--height));
  background-color: #30645C;
  color: #fff;
  text-align: center;
  border-radius: 20px;
  position: absolute;
  bottom: calc(-100 / 1080 * var(--root--height));
  left: calc(-255 / 1920 *var(--root--width));
  transform: translateX(-50%);
  z-index: 2;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: calc(24px * var(--root--font--ratio));
  line-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}

/* 마우스 오버 시 툴팁 표시 */
.tooltip-icon:hover .tooltip-text {
  visibility: visible;
  opacity: 2;
}

/* loading */

.loading-screen {
  /* position:relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: calc(230 / 1080 * var(--root--height));
}

.loading-component {
  display: flex;
  height: calc(400 / 1080 * var(--root--height));
  width: calc(400 / 1080 * var(--root--height));
  z-index: 1;
}

.loading-title {
  display: flex;
  position: absolute;
  color: white;
  font-size: calc(30px * var(--root--font--ratio));
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  bottom: 0;
  z-index: 2;
}