.Room_create_float {
    /*position: absolute;*/

    /*margin-left: 20%;*/

    display: flex;

    /*z-index: 3;*/

    background-color: #252525;
    border: 5px solid #00FFD9;

    border-radius: 20px;

    width: calc(var(--root--width)*0.5);
    height: calc(var(--root--height)*0.5);
}

.Room_create_setting {
    width: calc(var(--root--width)*0.3125);
    height: 100%;
}

.set_room_title {
    display: flex;

    justify-content: center;
    align-items: center;

    font-size: calc(36px*var(--root--font--ratio));

    color: white;

    width: 100%;
    height: 20%;
}

.room_title_input {
    box-sizing: border-box;

    width: calc(var(--root--width)*0.2);
    height: calc(var(--root--height)*0.05);

    font-size: calc(30px*var(--root--font--ratio));

    padding: calc(var(--root--height) * 0.01) calc(var(--root--width) * 0.01);

    border-radius: 20px;
    border: 1px solid white;
}

.set_room_privacy {
    width: 100%;
    height: 50%;
}

.set_room_privacy_div1{
    display: flex;

    align-items: center;

    font-size: calc(36px*var(--root--font--ratio));
    color: white;

    width: 100%;
    height: 50%;
}

.room_ispublic {
    margin-left: 7%;
    margin-right: 7%;
}

.room_isprivate {

}

.room_passwordinput {
    display: flex;

    justify-content: center;

    font-size: calc(36px*var(--root--font--ratio));

    height: 50%;

    color: #6BC5B4;
}

.room_set_password{
    box-sizing: border-box;

    width: calc(var(--root--width)*0.19);
    height: calc(var(--root--height)*0.05);

    font-size: calc(30px*var(--root--font--ratio));

    padding: calc(var(--root--height) * 0.01) calc(var(--root--width) * 0.01);

    border-radius: 20px;
    border: 1px solid white;
}

.set_room_headcount {
    display: flex;

    align-items: center;

    margin-left: 5%;

    font-size: calc(36px*var(--root--font--ratio));

    color: white;

    width: 100%;
    height: 30%;
}

.set_headcount {
    text-align: center;
    font-size: calc(25px*var(--root--font--ratio));
    border-radius: 20px;

    width: calc(var(--root--width)*0.08);
    height: calc(var(--root--height)*0.05);
}

.Room_create_info {
    width: calc(var(--root--width)*0.1875);
    height: 100%;
}

.Room_create_img {
    border-left: 2px solid #00FFD9;
    border-bottom: 1px solid #00FFD9;

    width: 100%;
    height: calc(var(--root--height)*0.18796296296296296296296296296296);
}

.Room_create_img_src {
    width: 100%;
    height: 100%;
}

.Room_create_description {
    display: flex;

    justify-content: center;
    align-items: center;

    border-left: 2px solid #00FFD9;
    border-top: 1px solid #00FFD9;

    width: 100%;
    height: calc(var(--root--height)*0.31203703703703703703703703703704);
}

.Room_create_description_innerbox {
    color: white;
    font-size: calc(20px*var(--root--font--ratio));

    width: calc(var(--root--width)*0.16822916666666666666666666666667);
    height: calc(var(--root--height)*0.28148148148148148148148148148148);
}

.button_room_create_cancel {
    position: absolute;

    margin-top: calc(var(--root--height)*0.43055555555555555555555555555556);
    margin-left: calc(var(--root--width)*0.375);
}

.button_room_create_confirm {
    position: absolute;

    margin-top: calc(var(--root--height)*0.43055555555555555555555555555556);
    margin-left: calc(var(--root--width)*0.4375);
}

.button_room_create_confirm_notyet {
    position: absolute;

    margin-top: calc(var(--root--height)*0.43055555555555555555555555555556);
    margin-left: calc(var(--root--width)*0.4375);
}