.current_div_total {
    position: absolute;
    width: calc(var(--root--width)*0.698958333333333333);

    margin-top: 1%;

    left: 50%;
    transform: translateX(-50%);

    color: white;

    font-style: italic;
    font-weight: lighter;
    font-size: calc(20px*var(--root--font--ratio));
}

.remaining_time {
    position: absolute;

    color: white;
    font-size: calc(20px*var(--root--font--ratio));
    font-weight: lighter;

    left: 50%;
    transform: translateX(-50%);

    margin-top: calc(var(--root--height)*0.13);
}

.playing_skip {
    display: flex;

    position: relative;

    width: 100%;
}

.play_bar {
    background-color: #D9D9D9;

    display: flex;

    justify-content: center;
    align-items: center;

    width: calc(var(--root--width)*0.33333333333333333);
    height: calc(var(--root--height)*0.1111111111111111111111);

    margin-top: calc(var(--root--height)*0.17222222222222222222);

    margin-left: auto;
    margin-right: auto;

    font-size: calc(48px*var(--root--font--ratio));

    border-radius: 100px / 100px;
    border: none;
}

.button_skip {
    position: absolute;

    margin-top: calc(var(--root--height)*0.15925925925925925925925925925926);
    margin-left: calc(var(--root--width)*0.55);
}

.current_song_ratio {

}

.current_answer {
    display: flex;

    justify-content: center;
    align-items: center;

    font-size: calc(20px*var(--root--font--ratio));
}

.ans {
    margin-left: 10px;

    font-weight: bolder;
    font-size: calc(30px*var(--root--font--ratio));
}

.hint {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    width: 100%;
    height: calc(var(--root--height)*0.15);

    margin-top: 1%;

    font-style: italic;
    font-weight: lighter;
    font-size: calc(20px*var(--root--font--ratio));
}

.hint_1,.hint_2,.hint_3 {
    display: flex;

    color: white;

    justify-content: center;
    width: 100%;
    height: 33%;
}

.hint_bold {
    font-style: normal;
    font-weight: normal;

    color: antiquewhite;

    margin-left: calc(var(--root--width)*0.01);
}

.user_correct {
    display: flex;

    justify-content: center;
    align-items: center;

    width: 100%;

    margin-top: calc(var(--root--height)*0.03);

    font-size: calc(24px*var(--root--font--ratio));
}

.correct_bold {
    font-weight: bold;
}