:root {
    --root--height: 1920px;
    --root--width: 1080px;
    --root--font--ratio: 1;
}

/* Header top 버튼 */

.button_mod_default {
    font-size: calc(32px*var(--root--font--ratio));
    font-weight: bold;
    color: #00FFD9;
    width: calc(var(--root--width)*0.1);
    height: 100%;
    border-left: 1px solid #00FFD9;

    /*색상 변경시 모두 같은색으로*/
    border-top: 1px solid #002520;
    border-bottom: 1px solid #002520;
    border-right: 1px solid #002520;
    background-color: #002520;
    cursor: pointer;
}

.button_mod_giant {
    font-size: calc(32px*var(--root--font--ratio));
    font-weight: bold;
    color: #00FFD9;
    width: calc(var(--root--width)*0.1);
    height: 100%;
    border-left: 1px solid #00FFD9;

    /*색상 변경시 모두 같은색으로*/
    border-top: 1px solid #002520;
    border-bottom: 1px solid #002520;
    border-right: 1px solid #002520;
    background-color: #002520;
    cursor: pointer;
}

.button_mod_multiplay {
    font-size: calc(32px*var(--root--font--ratio));
    font-weight: bold;
    color: #00FFD9;
    width: calc(var(--root--width)*0.1);
    height: 100%;
    border-left: 1px solid #00FFD9;
    border-right: 1px solid #00FFD9;

    /*색상 변경시 모두 같은색으로*/
    border-top: 1px solid #002520;
    border-bottom: 1px solid #002520;
    background-color: #002520;

    cursor: pointer;
}

.button_profile_logout {
    padding: 0;
    border: 0;
    width: calc(20px*var(--root--font--ratio));
    height: calc(20px*var(--root--font--ratio));
    cursor: pointer;
    background-color: rgb(0,0,0,0);
}

.button-logo {
    width: calc(20px*var(--root--font--ratio));
    height: calc(20px*var(--root--font--ratio));
}

/* Header bottom 버튼 */

.button_mod_custom {
    font-size: calc(30px*var(--root--font--ratio));
    color:white;
    font-weight: bolder;

    background-color: rgba(48,100,92,0);
    width: calc(var(--root--width)*0.07);
    height: 100%;

    border-left: 1px solid white;

    cursor: pointer;

    /* 색상 변경시 모두 변경 */
    border-top: 1px solid rgba(48,100,92,0);
    border-bottom: 1px solid rgba(48,100,92,0);
    border-right: 1px solid rgba(48,100,92,0);
}

.button_mod_recommend {
    font-size: calc(30px*var(--root--font--ratio));
    color:white;
    font-weight: bolder;

    background-color: rgba(48,100,92,0);
    width: calc(var(--root--width)*0.05);
    height: 100%;

    border-left: 1px solid white;

    cursor: pointer;

    /* 색상 변경시 모두 변경 */
    border-top: 1px solid rgba(48,100,92,0);
    border-bottom: 1px solid rgba(48,100,92,0);
    border-right: 1px solid rgba(48,100,92,0);
}

.button_mod_playlist {
    font-size: calc(30px*var(--root--font--ratio));
    color:white;
    font-weight: bolder;

    background-color: rgba(48,100,92,0);
    width: calc(var(--root--width)*0.1072916);
    height: 100%;

    border-left: 1px solid white;

    cursor: pointer;

    /* 색상 변경시 모두 변경 */
    border-top: 1px solid rgba(48,100,92,0);
    border-bottom: 1px solid rgba(48,100,92,0);
    border-right: 1px solid rgba(48,100,92,0);
}

.button_mod_ai_generate {
    font-size: calc(30px*var(--root--font--ratio));
    color:white;
    font-weight: bolder;

    background-color: rgba(48,100,92,0);
    width: calc(var(--root--width)*0.0984375);
    height: 100%;

    border-left: 1px solid white;
    border-right: 1px solid white;

    cursor: pointer;

    /* 색상 변경시 모두 변경 */
    border-top: 1px solid rgba(48,100,92,0);
    border-bottom: 1px solid rgba(48,100,92,0);
}

/* Search Bar */

.button_search {
    width: calc(var(--root--height)*0.034259259);
    height: calc(var(--root--height)*0.034259259);

    background-color: white;
    border: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;

    cursor: pointer;
}

/* Footer */

.button_page_left {
    width: calc(var(--root--height)*0.039814814);
    height: 100%;

    border: 1px solid #D9D9D9;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    font-weight: bold;
    font-size: calc(25px*var(--root--font--ratio));
}

.button_page_right {
    width: calc(var(--root--height)*0.039814814);
    height: 100%;

    border: 1px solid #D9D9D9;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    font-weight: bold;
    font-size: calc(25px*var(--root--font--ratio));
}