:root {
    --root--width: 1920px;
    --root--height: 1080px;
    --root--font--ratio: 1;
}

.Header_bottom {
    margin: 0;
    display: flex;
    background-color: rgba(48,100,92,0.5);
    width: 100%;
    height: calc(var(--root--height)*0.050925);
}

.button_mod_custom {
    margin-left: calc(var(--root--width)*0.095);
}